@import 'bootstrap-2.2.1-min.css';
@import 'bootstrap-responsive-2.2.1-min.css';

@font-face {
  font-family: 'SinkingShip';
  src: url('sinkis93-webfont.eot');
  src: url('sinkis93-webfont.eot?#iefix') format('embedded-opentype'),
       url('sinkis93-webfont.woff') format('woff'),
       url('sinkis93-webfont.ttf') format('truetype'),
       url('sinkis93-webfont.svg#sinking_shipregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Diogenes';
  src: url('diogenes-webfont.eot');
  src: url('diogenes-webfont.eot?#iefix') format('embedded-opentype'),
       url('diogenes-webfont.woff') format('woff'),
       url('diogenes-webfont.ttf') format('truetype'),
       url('diogenes-webfont.svg#diogenesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SinkingShip';
}

body {
  background: #2F1A06;
}

#main {
  background-image: url('/img/background.png');
  margin: 10px auto;
  width: 1280px;
  height: 720px;
  overflow: hidden; 
}

.home-view {
  text-align: center;
  position: relative;
  z-index: 13;
  width: 100%;
  height: 100%;
  background-image: url('/img/background-menu.png');
}

.home-view .title {
  background: url('/img/title.png');
  background-size: 100% 100%;
  width: 600px;
  height: 200px;
  display: inline-block;
}

.home-view .menu,
.waiting,
.play-view .countdown {
  top: 40%; 
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: auto;
  color: white;
  z-index: 1000;
}

.home-view .menu {
  right: 50px;
  left: auto;
  top: 220px;
}
.home-view .menu a {
  position: absolute;
  display: block;
  background-size: 100% 100%;
  background-color: transparent;
}
.home-view .menu a.single {
  height: 79px;
  left: 59px;
  top: 54px;
  width: 207px;
}
.home-view .menu a.single:hover {
  background-image: url("/img/single.png");
}
.home-view .menu a.duel {
  height: 82px;
  left: 48px;
  top: 151px;
  width: 238px;
}
.home-view .menu a.duel:hover {
  background-image: url("/img/duel.png");
}
.home-view .frame {
  background: url("/img/menu.png");
  background-size: 100% 100%;
  height: 400px;
  width: 323px;
}


.home-view .controls {    
  background-color: rgba(99, 144, 166, 0.9);
  background-size: 100% 100%;
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 3px solid #BBBBBB;

}
.home-view .controls * {
  font-family: 'Arial';    
  font-size: 19px;
  line-height: 1.3em;
  text-align: justify;
}
.home-view .controls *:last-child {
  margin: 0;
}

.home-view .pitch {    
  color: white;
  display: inline-block;
  font-size: 22px;
  left: 40px;
  line-height: 2em;
  position: absolute;
  top: 220px;
  width: 700px;
}
.home-view .pitch * {
  color: #A8CDE0;
  font-family: 'Diogenes';
  text-align: justify;
}

.waiting {
  font-size: 30px;
  line-height: 1.3em;
}

.play-view {
  height: 100%;
  position: relative;
}
.modal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  background: black;
  opacity: 0.6;
  z-index: 12;
}
.play-view .countdown {
  font-size: 140px;
  top: 45%;
}
.play-view .countdown.win,
.play-view .countdown.lost {
  font-size: 70px;
}

.play-view .toggleMusic {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  z-index: 11;
}
.play-view .header {
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.play-view .header h1 {
  display: inline;
  font-size: 70px;
  color: black;
}
.play-view .cell {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
}
.play-view .tabula {
  background: url('/img/tabula-1.png');
  background-size: 100% 100%;
  height: 605px;
  position: absolute;
  top: 70px;
  width: 445px;
  overflow: hidden;
  z-index: 5;
}

.play-view .inner-text .text,
.play-view .inner-text .input,
.play-view .draft {
  font-size: 22px;
  line-height: 1.3em;
  color: white;
  font-family: 'Diogenes';
}
.play-view .inner-text .text,
.play-view .draft {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.play-view .scrollable {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 135px;
  left: 50px;
  right: 50px;
  bottom: 55px;
}
.play-view .inner-text .text {
  overflow-y: auto;
  display: inline;
  word-wrap: break-word;
}
.play-view .inner-text .input {
  display: inline-block;
  border: none;
  width: 1em;
  background: url('/img/cursor-2.png');
  background-size: 100% 100%;
  position: relative;
  height: 1em;
  top: -3px;
  left: -10px;
  line-height: 1em;
  padding-bottom: 6px;
} 
.play-view .inner-text .input.error {
  background-image: url('/img/cursor-2.png');
}
.play-view .inner-text .input:focus {
  outline: none;
  color: transparent;
}

.play-view .inner-text {
  height: auto;
  overflow: auto;
}
.play-view .draft {
  color: grey;
  word-break: break-word;
}
.play-view .anim {
  z-index: 11;
}
.play-view .bonus {
  position: absolute;
  background: url('/img/bonus.png');
  height: 93px;
  top: 56px;
  width: 93px;
  -webkit-transition: background-image 300ms;
  -moz-transition: background-image 300ms;
  transition: background-image 300ms;
}
.play-view .gauge {
  position: absolute;
  background: url('/img/gauge.png');
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  z-index: 6;
  -webkit-transition: background-image 750ms;
  -moz-transition: background-image 750ms;
  transition: background-image 750ms;
}
.play-view .gauge.full {
  background: url('/img/gauge-full.png');
}
.play-view .fg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.play-view .avatar {
  position: absolute;
  background-size: 100% 100%;
  background-color: transparent;
  bottom: 10px;
  width: 183px;
  height: 214px;
  z-index: 6;
}
.play-view .avatar.background {
  z-index: 4;
}
.play-view .bonus-applied {
  position: absolute;
  left: 582px;
  top: 286px;
  height: 135px;
  width: 135px;
  background-color: transparent; 
  background-size: 100% 100%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}
.play-view .score {
  position: absolute;
  font-size: 22px;
  top: 170px;
  height: 22px;
  width: 160px;
  z-index: 6;
}

.play-view .player1 .fg {
  background: url('/img/foreground-1.png');
  background-repeat: no-repeat;
  background-position: top left;
}
.play-view .player1 .avatar {
  background-image: url('/img/avatar-1.png');
}
.play-view.win .player1 .avatar:not(.background), .play-view .player1 .avatar.happy {
  background-image: url('/img/win-avatar-1.png');
}

.play-view.lost .player1 .avatar:not(.background), .play-view .player1 .avatar.mad {
  background-image: url('/img/lost-avatar-1.png');
}
.play-view .player1 .text-view .tabula {
  left: 140px;
}
.play-view .player1 .bonus {
  left: 14px;
}
.play-view .player1 .bonus-1 {
  top: 153px;
  left: 117px;
}
.play-view .player1 .bonus-2 {
  left: 116px;
  top: 103px;
}
.play-view .player1 .bonus-3 {
  left: 153px;
  top: 78px;
}
.play-view .player1 .avatar {
  left: 10px;
}
.play-view .player1 .score {
  left: 300px;
}
.play-view .player1 .bonus.latinium {
  background: url('/img/bonus/latinium-1.png');
}
.play-view .player1 .bonus.double {
  background: url('/img/bonus/double-1.png');
}
.play-view .player1 .bonus.shuffle {
  background: url('/img/bonus/shuffle-1.png');
}


.play-view .player2 .fg {
  background: url('/img/foreground-2.png');
  background-repeat: no-repeat;
  background-position: top right;
}
.play-view .player2 .avatar {
  background-image: url('/img/avatar-2.png');
}
.play-view.win .player2 .avatar:not(.background), .play-view .player2 .avatar.mad {
  background-image: url('/img/lost-avatar-2.png');
}
.play-view.lost .player2 .avatar:not(.background), .play-view .player2 .avatar.happy {
  background-image: url('/img/win-avatar-2.png');
}
.play-view .player2 .background {
  background-image: url('/img/avatar-2-bg.png');
}
.play-view .player2 .tabula {
  background-image: url('/img/tabula-2.png');
}
.play-view .player2 .text-view .tabula {
  right: 145px;
}
.play-view .player2 .bonus {
  right: 14px;
}
.play-view .player2 .bonus-1 {
  top: 153px;
  right: 117px;
}
.play-view .player2 .bonus-2 {
  right: 116px;
  top: 103px;
}
.play-view .player2 .bonus-3 {
  right: 153px;
  top: 78px;
}
.play-view .player2 .avatar {
  right: 10px;
}
.play-view .player2 .score {
  right: 290px;
}
.play-view .player2 .bonus.latinium {
  background: url('/img/bonus/latinium-2.png');
}
.play-view .player2 .bonus.double {
  background: url('/img/bonus/double-2.png');
}
.play-view .player2 .bonus.shuffle {
  background: url('/img/bonus/shuffle-2.png');
}

.play-view .bonus-applied.latinium-1 {
  background-image: url('/img/bonus-applied/latinium-1.png');
}
.play-view .bonus-applied.latinium-2 {
  background-image: url('/img/bonus-applied/latinium-2.png');
}
.play-view .bonus-applied.shuffle-1 {
  background-image: url('/img/bonus-applied/shuffle-1.png');
}
.play-view .bonus-applied.shuffle-2 {
  background-image: url('/img/bonus-applied/shuffle-2.png');
}
.play-view .bonus-applied.double-1 {
  background-image: url('/img/bonus-applied/double-1.png');
}
.play-view .bonus-applied.double-2 {
  background-image: url('/img/bonus-applied/double-2.png');
}
