<div class="tabula">
  <div class="scrollable">
    <div class="draft"></div>  
  </div>
  <div class="inner-text scrollable">
    <div class="text"></div>
    <div class="input">
      <input tabIndex="1"/><span class="caret"></span>
    </div>
  </div>
</div>
<div class="fg"></div>
<div class="bonus"></div>
<div class="gauge bonus-1"></div>
<div class="gauge bonus-2"></div>
<div class="gauge bonus-3"></div>
<div class="avatar"></div>
<div class="avatar background"></div>
<div class="score"></div>